<h1>Preguntas</h1>
<p>Pregúntale a tu Entrenador cualquier cosa</p>

<form action="/answer" method="get">
  <input type="text" name="food_type" placeholder="Ingresar Pregunta">
  <input type="submit" value="Enviar!">
</form>
